%p#notice= notice
%h1 タスク見積一覧
%table
  %thead
    %tr
      %th= EstimationOfTask.human_attribute_name(:title)
      %th= EstimationOfTask.human_attribute_name(:detail)
      %th= EstimationOfTask.human_attribute_name(:task_type)
      %th{:colspan => "3"}
  %tbody
    - @estimation_of_tasks.each do |estimation_of_task|
      %tr
        %td= estimation_of_task.title
        %td= estimation_of_task.detail
        %td= estimation_of_task.task_type_i18n
        %td= link_to '詳細', estimation_of_task
        %td= link_to '編集', edit_estimation_of_task_path(estimation_of_task)
        %td= link_to '削除', estimation_of_task, method: :delete, data: { confirm: "タスク見積りID:#{estimation_of_task.id}「#{estimation_of_task.title}」を削除してもよろしいですか？" }
%br/
= link_to '新規タスク見積作成', new_estimation_of_task_path
