<p id="notice"><%= notice %></p>

<h1>Estimation Of Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Detail</th>
      <th>Task type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estimation_of_tasks.each do |estimation_of_task| %>
      <tr>
        <td><%= estimation_of_task.title %></td>
        <td><%= estimation_of_task.detail %></td>
        <td><%= estimation_of_task.task_type %></td>
        <td><%= link_to 'Show', estimation_of_task %></td>
        <td><%= link_to 'Edit', edit_estimation_of_task_path(estimation_of_task) %></td>
        <td><%= link_to 'Destroy', estimation_of_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estimation Of Task', new_estimation_of_task_path %>
