<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @estimation_of_task.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @estimation_of_task.detail %>
</p>

<p>
  <strong>Task type:</strong>
  <%= @estimation_of_task.task_type %>
</p>

<%= link_to 'Edit', edit_estimation_of_task_path(@estimation_of_task) %> |
<%= link_to 'Back', estimation_of_tasks_path %>
